In [1]:
import findspark

In [2]:
findspark.init('/home/raj/spark-2.1.0-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Basics').getOrCreate()

In [7]:
df=spark.read.json('/home/raj/Documents/Udemy-Spark/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [10]:
df.columns

['age', 'name']

In [13]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [14]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [15]:
data_schema=[StructField('age',IntegerType(),True),StructField('name',StringType(),True)]

In [16]:
final_struct=StructType(fields=data_schema)

In [17]:
df=spark.read.json('/home/raj/Documents/Udemy-Spark/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json',
                   schema=final_struct)

In [18]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [19]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
type(df.age)

pyspark.sql.column.Column

In [23]:
df.select('age')

DataFrame[age: int]

In [24]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [26]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [30]:
df.head(2)[0]

Row(age=None, name='Michael')

In [31]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [34]:
df.withColumn('newAge',df['age']*2).show()

+----+-------+------+
| age|   name|newAge|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [36]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
df.withColumnRenamed('age','newAgeRenamed').show()

+-------------+-------+
|newAgeRenamed|   name|
+-------------+-------+
|         null|Michael|
|           30|   Andy|
|           19| Justin|
+-------------+-------+

In [38]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
df.createOrReplaceTempView('people')

In [41]:
results= spark.sql("Select * from people")

In [42]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [43]:
query=spark.sql("Select * from people where age =19")
query.show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+