In [1]:
import findspark
findspark.init('/home/raj/spark-2.1.0-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('miss').getOrCreate()

In [2]:
df=spark.read.csv('/home/raj/Documents/Udemy-Spark/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/ContainsNull.csv'
                  ,header=True,inferSchema=True)

In [3]:
df.show(5)

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [7]:
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [10]:
df.na.drop(how='all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [11]:
df.na.drop(subset=['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [12]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [13]:
df.na.fill('Fill values').show()

+----+-----------+-----+
|  Id|       Name|Sales|
+----+-----------+-----+
|emp1|       John| null|
|emp2|Fill values| null|
|emp3|Fill values|345.0|
|emp4|      Cindy|456.0|
+----+-----------+-----+

In [15]:
df.na.fill(120.00).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|120.0|
|emp2| null|120.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [16]:
df.na.fill('NoName',subset=['Name']).show()

+----+------+-----+
|  Id|  Name|Sales|
+----+------+-----+
|emp1|  John| null|
|emp2|NoName| null|
|emp3|NoName|345.0|
|emp4| Cindy|456.0|
+----+------+-----+

In [17]:
from pyspark.sql.functions import mean

In [20]:
mean_val=df.select(mean(df['Sales'])).collect()

In [24]:
mean_sales=mean_val[0][0]

In [25]:
df.fillna(mean_sales,['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [27]:
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0],['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+