In [1]:
import findspark
findspark.init('/home/raj/spark-2.1.0-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Dates').getOrCreate()

In [3]:
df=spark.read.csv('/home/raj/Documents/Udemy-Spark/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/appl_stock.csv'
                  ,header=True,inferSchema=True)

In [4]:
df.show(5)

+--------------------+----------+----------+------------------+------------------+---------+------------------+
|                Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|
+--------------------+----------+----------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:...|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:...|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:...|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:...|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:...|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
+--------------------+----------+----------+------------------+------------------+---------+------------------+
only showing top 5 rows

In [6]:
df.select(['Date']).show(1)

+--------------------+
|                Date|
+--------------------+
|2010-01-04 00:00:...|
+--------------------+
only showing top 1 row

In [7]:
from pyspark.sql.functions import dayofmonth, hour,dayofyear,month , year,weekofyear,format_number,date_format

In [10]:
df.select(month(df['Date'])).show(5)

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
+-----------+
only showing top 5 rows

In [11]:
df.select(year(df['Date'])).show()

+----------+
|year(Date)|
+----------+
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
+----------+
only showing top 20 rows

In [19]:
newdf=df.withColumn("Year",year(df['Date']))
newdf.show(5)

+--------------------+----------+----------+------------------+------------------+---------+------------------+----+
|                Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|Year|
+--------------------+----------+----------+------------------+------------------+---------+------------------+----+
|2010-01-04 00:00:...|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|2010|
|2010-01-05 00:00:...|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|2010|
|2010-01-06 00:00:...|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|2010|
|2010-01-07 00:00:...|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|2010|
|2010-01-08 00:00:...|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|2010|
+--------------------+----------+----------+------------------+------------------+---------+------------------+----+
only showing top 5 rows

In [22]:
result=newdf.groupBy('Year').mean().select(['Year','avg(Low)'])

In [24]:
new=result.withColumnRenamed("avg(Low)","AvgLow")

In [25]:
new.show()

+----+------------------+
|Year|            AvgLow|
+----+------------------+
|2015| 118.8630954325397|
|2013|468.24710264682557|
|2014| 292.9949599801587|
|2012| 569.9211606079999|
|2016|103.69027771825397|
|2010|256.84761791269847|
|2011|360.29769878174613|
+----+------------------+

In [29]:
new.select(['Year',format_number('AvgLow',2).alias('AvgLow')]).show()

+----+------+
|Year|AvgLow|
+----+------+
|2015|118.86|
|2013|468.25|
|2014|292.99|
|2012|569.92|
|2016|103.69|
|2010|256.85|
|2011|360.30|
+----+------+